/*
* @Author: hwaphon
* @Date:   2016-12-14 16:30:54
* @Last Modified by:   hwaphon
* @Last Modified time: 2016-12-14 19:43:00
*/

*,
*::before,
*::after {
    -moz-box-sizing: border-box;
         box-sizing: border-box;
    margin: 0;
    padding: 0;
}

article {
    width: 680px;
    height: 320px;
    margin: 32px auto;

    text-align: center;
}

canvas {
    border: 1px solid #ccc;
}

form section {
    margin-bottom: 16px;
}
